<header>
    <div class="topnav">
        <a href="#home"> <img class="logo" src="/img/logo_cubo_verde.png"></a>
        <!-- Navigation links (hidden by default) -->
        <div class="barrabusqueda">
            <form action="/search?input=value" method="GET">
                <input type="text" class="busq" name="value" placeholder="Tags, Artists, Collections">
            </form>
        </div>
        <div id="myLinks">
            <a href="/">Home</a>
            <a href="/market">Market</a>
            <a href="/myNFT">myNFT</a>
            
            <a href="">Community</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="/carrito" class="cart"><i class="fas fa-shopping-bag"></i></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
</header>