<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/carrito.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <main>
        
        <div class="tarjeta">
            <div class="izq">
                <img id="david" src="/img/david.png" alt="david">
                <button class="view">View artwork</button>
            </div>
            <div class="derecha">
                <div class="info">
                    <p class="nombreobra">Shape of David</p>
                    <p class="nombreartista">xxmileslsrxx</p>
                    <div>
                        <i class="icono" class="fas fa-chart-line fa-fw"></i> 
                        <p class="pricehistory">Price history</p>
                    </div>
                </div>
                <div class="precio">
                    <p class="eth">0.50 ETH</p>
                    <p class="dolares">$458.11</p>
                </div>
            </div>
            </div>

        <hr>

        <div class="tarjeta">
            <div class="izq">
                <img id="david" src="/img/nextstep.png" alt="david">
                <button class="view">View artwork</button>
            </div>
            <div class="derecha">
                <div class="info">
                    <p class="nombreobra">The Next Step</p>
                    <p class="nombreartista">xrev_v</p>
                    <p class="pricehistory"><i class="icono" class="fas fa-chart-line"></i> Price history</p>
                </div>
                <div class="precio">
                    <p class="eth">0.50 ETH</p>
                    <p class="dolares">$458.11</p>
                </div>
            </div>
            </div>

        <hr>

        <div class="tarjeta">
            <div class="izq">
                <img id="david" src="/img/dancing.png" alt="david">
                <button class="view">View artwork</button>
            </div>
            <div class="derecha">
                <div class="info">
                    <p class="nombreobra">Out of Africa</p>
                    <p class="nombreartista">Objective_Sail1559</p>
                    <p class="pricehistory"><i class="icono" class="fas fa-chart-line"></i> Price history</p>
                </div>
                <div class="precio">
                    <p class="eth">0.50 ETH</p>
                    <p class="dolares">$458.11</p>
                </div>
            </div>
            </div>

        <hr>

        <div id="pagar">
            <div id="total">
                <p id="totaltexto">TOTAL:</p>
            </div>
            <div id="dinero">
                <p id="eth">1.50 ETH</p>
                <p id="pesos">$1374.33</p>
                <button id="buy">Buy</button>
            </div>
        </div>

    </main>

</body>
</html>