<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/carrito.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <main id="maincarrito">
        <div class="tarjeta">
            <img src="/img/david.png" alt="david">
            <div class="info">
                <p class="nombreobra">Shape of David</p>
                <p class="nombreartista">xxmileslsrxx</p>
                <p class="pricehistory"><i class="fas fa-chart-line"></i> Price history</p>
            </div>
            <div class="precio">
                <p class="eth">0.50 ETH</p>
                <p class="dolares">$458.11</p>
            </div>
            <button class="view">View artwork</button>
        </div>

        <div class="tarjeta">
            <img src="/img/david.png" alt="david">
            <div class="info">
                <p class="nombreobra">Shape of David</p>
                <p class="nombreartista">xxmileslsrxx</p>
                <p class="pricehistory"><i class="fas fa-chart-line"></i> Price history</p>
            </div>
            <div class="precio">
                <p class="eth">0.50 ETH</p>
                <p class="dolares">$458.11</p>
            </div>
            <button class="view">View artwork</button>
        </div>
    </main>

    <footer>
        <div class="resourcesmenu">
            <h4 class="resources">Resources</h4>
            <p>Support center</p>
            <p>FAQ</p>
            <p>Blog</p>
        </div>
        <div class="communitymenu">
            <h4 class="community">Community</h4>
            <section class="icons">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-discord"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-reddit-alien"></i>
            </section>
        </div>
        <div class="newsletter-div">
            <h4 class="newsletter">Newsletter</h4>
            <p class="newsletter-text">Subscribe. Stay up to date with our latest news and events.</p>
            <button class="suscribe-button">Subscribe</button>
        </div>
        <div class="footer-bottom">
            <p>2021 NineForty</p>
            <p>Privacy</p>
            <p>Terms</p>
        </div>

    </footer>
    
</body>
</html>