<!DOCTYPE html>
<html>
  <head>
  <%- include("./partials/head") %>
  <link href="/css/index-style.css" rel="stylesheet">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
      function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
  </script>
</head>
    <body>
        <%- include("./partials/header") %>
        <main id="main-index">
          
            <div class="index-register-container">
                <div class="index-register">
                    <h4>Welcome to the future of trading</h4>
                    <p>Discover a new way to trade: Buy, sell, create and design your own NFT tokens to put on the market.</p> 
                    <% if (!user) { %>
                    <a href="/users/login">Login</a>
                    <a href="/users/register">Sign up</a>
                    <% } else { %>
                    <a href="/users/profile">Profile</a>
                    <% } %> 
                </div>    
                <img class="placeholder" src="/img/NFT-13.jpg">
            </div>
             
            <i class="fas fa-chevron-down"></i>
            <div class="trending">
                <h2>Trending</h2>
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                  
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/img/dancing.png" alt="dancing">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/NFT-2.jpg" alt="NFT 2">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/NFT-3.jpg" alt="NFT 3">
                      </div>
                    </div>
                  
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  
                  </div>
                <img >
                <img >
                <img >
            </div>
            <section class="page-features">
                <article>
                    <i class="fas fa-wallet"></i>
                    <p>Buy and sell NFTs.</p>
                </article>
                <article>
                    <i class="fas fa-edit"></i>
                    <p>Create your own NFTs.</p>
                </article>
                <article>
                    <i class="fas fa-globe-europe"></i>
                    <p>Meet artists from all around the world.</p>
                </article>
            </div>

        </main>
    
        <%- include("./partials/footer") %>
        </div>
    </body>
</html>