<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
              x.style.display = "none";
            } else {
              x.style.display = "block";
            }
          }
    </script>
</head>
    <body>
        <main>
        <%- include("./partials/header") %>
            <div id="cajaform">
                <form action="/users/login" method="POST" id="formulario">

                    <label for="email">Username/E-mail*</label>
                    <input type="text" name="email" id="email">
                    <% if (locals.errors && errors.email) { %>
                    <p class="loginerror"><%= errors.email.msg %>  </p>
                    <% } %>
                    <label for="password">Password*</label>
                    <input type="password" name="password" id="password">
                    <% if (locals.errors && errors.password) { %>
                        <p class="loginerror"><%= errors.password.msg %>  </p>
                    <% } %>
                    <label for="recordame">Remember me</label>
                    <input type="checkbox" name="recordame">
                    <br>
                    <div id="cajaboton"><button type="submit" name="login" id="enter">Enter</button></div>
                </form>
            </div>  
        </main>
     <%- include("./partials/footer") %>
    </body>
</html>