*{
    font-family:'Poppins', sans-serif;  
    margin: 0%;
    padding: 0%;
}

html {
    display: flex;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(40,115,185,0.7) 15%, rgba(120,190,255,1) 40%, rgba(59,220,152,0.35) 94%);
   
    
}

header{
    color: white;
    
}



#main-index{
    text-align: center;
    color: white;
}

footer{
    background-color: black;
    color: #C4C4C4;
    display: flex;
    justify-content: space-around;
    font-size: 100%;
    bottom:0;
    width:100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5%;
}

.footer-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 100%;
    flex-direction: row;
    border-top: 1px #C4C4C4 solid;
}

#main-index h4{
    padding: 5% 0;
    
}

#main-index p{
    padding-bottom: 5%;
}

.index-register a{
    color: white;
    text-decoration: none;
    background-color: #3BDC98;
    padding: 2% 15%;
    margin: auto;
    border-radius: 15px;
}

h2{
    font-weight: 600;
}

.trending img{
    width: auto;
    padding-bottom: 5%;
    max-height: 288px;

}

.placeholder{
    width: 90%;
    margin: 5%;
}

.page-features{
    color: black
}

.page-features i{
    font-size: 2rem;

}


.subscribe-button{
    margin-bottom: 6%;
    margin-top: 6%;
    border-radius: 30px;
    color: white;
    background-color: #3BDC98;
    left: 38px;
    top: 280px;
    width: 130px;
    height: 31px;
}

.fa-chevron-down{
    width: 100%;
    color: #3BDC98;
    font-size: 2rem;
}

.barrabusqueda{
    text-align: center;
    justify-content: center;
    width: 50%;
    position: absolute;
    top: 0;
    left: 25%;
}

.busq{    
    margin-top: 13px;
    justify-self: center;
    border-radius: 30px;
    border: none;
    height: 2rem;
    font-size: 75%;
    text-align: center;
    width: 90%;
    text-align: center;
}

.logo{
    position: absolute;
    height: 41px;
    top: 9px;
    left: 9px;
    z-index: 10;
}

.headertest{
    width: 100%;
}

header div a{
    text-decoration: none;
    color: white;
}

.resourcesmenu{
    justify-content: center;
    text-align: center;
    width: 50%;
}

.communitymenu{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.newsletter-div{
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

.community{
    justify-content: center;
    align-items: center;
}

.icons{
    font-size: 200%;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin: 0 25%;
}

#resources{
    list-style: none;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 22px;
    text-decoration: none;
    font-size: 17px;
    height: 51px;
    display: block; 
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    color: white; 
}

.cart{
    width: 15%;
    position: absolute;
    top: 0;
    right: 39px;
    text-align: end;
    
}

#main-detail{
    margin: 3%;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#main-detail img{
    width: 100%;
}

#main-detail .title{
    padding-top: 10%;
    font-weight: bold;
}

#main-detail .description{
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 0.5rem;
    font-weight: normal;
    margin-right: 2%;
}

#main-detail .tokenStats{
    width: 100%;
}


#main-detail .tokenStats img{
    width: 40px;
    height: 40px;
}

#main-detail .favorites{
    border-top: 2px solid #E5E5E5;
    padding-top: 5%;
    margin-left: 4%;
}

#main-detail .tokenStats i{
    font-size: 3rem;
}


#main-detail .tokenStats{
border-top: 2px solid #E5E5E5;
padding-top: 5%;
}

#main-detail .buy-button{
    margin-bottom: 6%;
    margin-top: 6%;
    border-radius: 20px;
    color: white;
    background-color: #3BDC98;
   justify-content: center;
    width: 100%;
    height: 31px;
}


#main-detail .tokenPrice{
    font-size: 2.5rem;
    font-weight: bolder;
}

@media (min-width: 481px){
    #main-index{
        display: flex;
        flex-direction: column;
    }
    
    .trending img{
        width: auto;
        padding-bottom: 5%;
        max-height: 615px;
    }
    
    .index-register{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        margin-left: 5%;
    }

    .index-register-container{
        display: flex;
    }

    .placeholder{
        width: 45%;
        max-height: 280px;
        max-width: 277px;
        justify-content: center;
    }
    
    .fa-chevron-down{
        display: none;
    }

    .page-features{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .page-features article{
        width: 30%;
        padding-bottom: 5%;
    }

    #main-detail .tokenDetail{
        order: -1;
    }
    
    #main-detail .token{
        width: 50%;
        position: relative;
        left: 10%;
        padding-bottom: 10%;
    }

    #main-detail .tokentags{
        font-size: 75%;
    }

    #main-detail .buy-button{
        width: 50%;
        padding: 5%;
        margin: auto;
        height: auto;
    }

    #main-detail .tokenStats{
        text-align: center;
    }
}




@media (min-width: 769px){
    html {
        display: flex;
        width: auto;
    }

    #main-detail{
        justify-content: space-between;
    }

    #main-detail .token{
        width: 40%;
        position: initial;
    }

    #main-detail .tokenStats{
        width: 30%;
        border-top: none;
    }
    
    #main-detail .tokenDetail{
        width: 30%;
    }

    #main-detail .buy-button{
        width: 20%;
        position: absolute; 
        left: 5;
        bottom: 5%;
        padding: 2%;
    }

    
}