*{
    font-family:'Poppins', sans-serif;  
    margin: 0%
}

html {
    display: flex;
}

body{
    width: 100%;
    height: 100%;
    
}

header{
    background-color: #2873B9;
    opacity: 70%;
    color: white;
    font-size: 50%;
    padding: 2% 0;
}


footer{
    background-color: black;
    color: #C4C4C4;
    display: flex;
    justify-content: space-around;
    font-size: 100%;
    bottom:0;
    width:100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5%;
}

.suscribe-button{
    margin-bottom: 6%;
}

.footer-bottom{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    border-top: 1px #C4C4C4 solid;
}

.barrabusqueda{
    text-align: center;
    background-color: #2873B9;
    justify-content: center;
}

.busq{
    justify-self: center;
    border-radius: 30px;
    border: none;
    height: 2rem;
    font-size: 100%;
    width: 90%;
}

.headertest{
    width: 100%;
}

header div a{
    text-decoration: none;
    color: white;
}

.resourcesmenu{
justify-content: center;
text-align: center;
width: 50%;
}

.communitymenu{
justify-content: center;
align-items: center;
text-align: center;
width: 50%;
}

.newsletter-div{
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

.community{
    justify-content: center;
    align-items: center;
}

.icons{
    font-size: 200%;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin: 0 25%;
}



#resources{
    list-style: none;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #2873B9;
    color: white;
  }

@media (min-width: 769px){
    html {
        display: flex;
        width: auto;
    }
}