<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateNFT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/create.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
              x.style.display = "none";
            } else {
              x.style.display = "block";
            }
          }
    </script>
</head>

<body>
    <main>
        <div class="topnav">
            <a href="/"> <img class="logo" src="/img/logo_cubo_verde.png"></a>
            <!-- Navigation links (hidden by default) -->
            <div class="barrabusqueda"><input type="text" class="busq" placeholder="Tags, Artists, Collections"></div>
            <div id="myLinks">
                <a href="market">Market</a>
                <a href="">Features</a>
                <a href="">Community</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <% if (user == undefined) { %>
        <div class="notlogged">
        <h1>You're not logged in, please click the following link to do it. </h1>
        <br>
        <a href="/users/login"> Login </a>
       </div>
       <% } else { %>
    <div class="errores">
        <ul>

        </ul>
    </div>
    <form action="/products/create" method="POST" enctype="multipart/form-data" class="createform">
        <div id="cajas">
            <div id="imagen">
                <div id="imagePreview"></div>

                <div id="cajaupload">
                
                    <label for="botonupload" id="upload" class="selectCSV">Upload your NFT</label>
                    <input type="file" 
                        id="botonupload" name="botonupload" 
                        accept=".jpg, .gif, .mp4, .png" 
                    > 
                </div>
            </div>  

            <div id="info">
            
                <label for="price" class="Price">Price*</label>
                <input type="number"  id="price" name="price">

                <label for="name" class="Name" >Name*</label>
                <input type="text" id="name" name="name">

                <label for="keyword">Hashtags*</label>
                <input type="text" id="keyword" name="keyword" placeholder="Please leave a space between tags">

                <label for="description">Description*</label>
                <input type="text" id="description" name="description">
            </div>
        </div>  
        <div id="cajaboton">
            <button type="submit" id="create">Create NFT</button>
        </div>
    </form>
    <% } %> 
    </main>

    <footer>
        <div class="resourcesmenu">
            <h4 class="resources">Resources</h4>
            <p>Support center</p>
            <p>FAQ</p>
            <p>Blog</p>
        </div>
        <div class="communitymenu">
            <h4 class="community">Community</h4>
            <section class="icons">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-discord"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-reddit-alien"></i>
            </section>
        </div>
        <div class="newsletter-div">
            <h4 class="newsletter">Newsletter</h4>
            <p class="newsletter-text">Subscribe. Stay up to date with our latest news and events.</p>
            <button class="suscribe-button" type="button">Subscribe</button>
        </div>
        <div class="footer-bottom">
            <p>2021 NineForty</p>
            <p>Privacy</p>
            <p>Terms</p>
        </div>

    </footer>

<<<<<<< HEAD
    <script>
        window.addEventListener('load', function(){
    let formulario = document.querySelector('form.createform')
    

    formulario.addEventListener('submit', function (event) {
    

    let errores = []


    var cajaUpload = document.querySelector('#botonupload')
    var filePath = cajaUpload.value;
    var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
    var Price = document.querySelector('.Price');
    var Name = document.querySelector('.Name');
    var Price = document.querySelector('.Price');
    //var t = cajaUpload;

    if (!allowedExtensions.exec(filePath))  {
            errores.push('Invalid File type');

    } else if (cajaUpload.value == '') {
        errores.push('You must include your file')
    }
    
    let campoPrice = document.querySelector('#price')
    if (campoPrice.value == '') {
        Price.innerText = "Price must be defined";
        //errores.push('Price must be defined')
    } else if (campoPrice.value < 1) {
        Price.innerText = "Price must be above 1";
        //errores.push('Price must above 1')
    }

    let campoNombre = document.querySelector('#name')
    if (campoNombre.value == '') {
        errores.push('Name must be defined')
    } else if (campoNombre.value.length < 1) {
        errores.push('Name must be longer than 1 character')
    }
=======
    <script src="/js/createProduct.js">
>>>>>>> f27ff8f2bb3863a04779a08220857571f63b174c
       
     
      </script>  
  
</body>
</html>